<footer class="mt-5 py-5">
    <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <img src="assets/images/logo2.png" alt="">
            <p>Lorem upsum Lorem upsum Lorem upsum Lorem upsum 
            Lorem upsum Lorem upsum.</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Featured</h5>
            <ul class="text-uppercase list-unstyled">
                <li><a href="#">men</a></li>
                <li><a href="#">women</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">clothes</a></li>
            </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Contact Us</h5>
            <div>
                <h6 class="text-uppercase">Address</h6>
                <p>123 STREET NAME, CITY, US</p>
            </div>
            <div>
                <h6 class="text-uppercase">PHONE</h6>
                <p>(123) 456-7890</p>
            </div>
            <div>
                <h6 class="text-uppercase">EMAIL</h6>
                <p>MAIL@EXAMPLE.COM</p>
            </div>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Instagram</h5>
        </div>
    </div>

    <div class="copyright mt-5">
        <div class="row container mx-auto">

            <div class="col-lg-4 col-md-6 col-12 text-nowrap">
                <p>eCommerce 2021. All Rights Reserved</p>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</footer>
