@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serfif;
}

.navbar {
    font-size:16px;
    top: 0;
    left: 0;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: coral;
}

.navbar i {
    font-size: 1.2rem;
    padding: 4px 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}


#bar {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
}

#bar:hover,
#bar.active {
    color: #fff;
}

.au-input-xl{
    min-width:100px;
    
}


input.au-input.au-input-xl{
    border-radius:40px !important;
    margin-right:15px;
}

.au-input{
    line-height:28px;
    border:1px #e5e5e5;
    font-size:14px;
    color:#666;
    padding: 0 17px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    -moz-transition:all .5s ease;
    transition:all .5s ease
}

.btn{
    background-color: #f8f9fa;
    color: DodgerBlue;
    padding: 0;
    font-size: 2px;
    cursor: pointer;
    border: none;
}





