<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="firstName" placeholder="First Name" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="lastName" placeholder="Last Name" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="email" placeholder="Email" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Shipping address form group -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <mat-label>Country</mat-label>
                                <mat-select formControlName="country">
                                    <mat-option>TODO</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="street" placeholder="Street" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="city" placeholder="City" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <mat-label>State</mat-label>
                                <mat-select formControlName="state">
                                    <mat-option>TODO</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="zipCode" placeholder="Zip Code" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <mat-label>Card Type</mat-label>
                                <mat-select formControlName="cardType">
                                    <mat-option>Visa</mat-option>
                                    <mat-option>Mastercard</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="nameOnCard" placeholder="Name on Card" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="cardNumber" placeholder="Card Number" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <input matInput formControlName="securityCode" placeholder="Security Code" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <mat-label>Expiration Month</mat-label>
                                <mat-select formControlName="expirationMonth">
                                    <mat-option *ngFor="let month of creditCardMonths" [value]="month">
                                        {{ month }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <mat-form-field class="full-width">
                                <mat-label>Expiration Year</mat-label>
                                <mat-select formControlName="expirationYear" (selectionChange)="handleMonthsAndYears()">
                                    <mat-option *ngFor="let year of creditCardYears" [value]="year">
                                        {{ year }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <!-- Order Details-->
                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency: 'EUR'}}</p>
                </div>

                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>

        </div>
    </div>
</div>
